/*main-page*/
:root {
	--mini-gutter: 6px;
	--middle-gutter: 12px;
	--logo-gutter: 26px;

	--oswald: 'Oswald', Arial, sans-serif;
	--montserrat: 'Montserrat', Arial, sans-serif;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	font-family: var(--oswald);
}

a {
	text-decoration: none;
	display: inline-block;
	color: #000000;
}

a:hover {
	color: initial;
}

a:hover,
a:active,
a:visited {
	text-decoration: none;
}

dl, ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container,
.header-container {
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1700px;
		padding: 0 80px;
	}

	.header-container {
		padding: 0 35px;
		/*max-width: 1700px;*/
	}
}


/*стили для прижатого слева хедера*/

.left-header {
	/*position: sticky;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 215px;
	/*min-height: 1000px;*/
	align-items: center;
	padding: 0;
	/*background-color: #808080;*/
	box-shadow: 4px -1px 45px #7a7a7a;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
}

.left-header__nav {
	display: flex;
	flex-direction: column;
	margin: 100px 26px auto 0;
}

.site-logo {
	position: absolute;
	top: 0;
	z-index: 5555;
	display: inline-block;
	margin-top: 17px;
}

.left-nav__list {
	margin-top: 38px;
	list-style: none;
}

.left-nav__item {
	margin-right: 2px;
}

.left-nav__link {
	color: #ffffff;
	font-family: var(--oswald);
	font-size: 30px;
	font-weight: 300;
	line-height: 54px;
}

.social__link .fab {
	color: #ffffff;
}

.contacts {
	text-align: center;
	margin: 100px var(--mini-gutter) 26px;
}

.contacts__link {
	color: #ffffff;
	font-family: var(--oswald);
	font-size: 18px;
	font-weight: 300;
	line-height: 36px;
}

.contacts__additional {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.social,
.languages {
	display: flex;
	align-items: center;
}

.social__item {
	width: 18px;
	height: 18px;
}

.social__item:not(:last-of-type) {
	margin-right: var(--middle-gutter);
}

.languages__item:not(:last-of-type) {
	margin-right: var(--mini-gutter);
}

.social__link {
	display: flex;
}

.social__link--insta {
	width: 18px;
	height: 18px;
}

.social__link--fb {
	width: 8px;
	height: 18px;
}

.social__link--pinterest {
	width: 16px;
	height: 18px;
}

.social__link .fab,
.social__link .fab::before {
	width: 100%;
	height: 100%;
}

.languages__link img {
	width: 20px;
}


/* стли для верхнего - фиксированного хедера*/

.header {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100px;
	box-shadow: 29px -5px 73px #7a7a7a;
	opacity: 1;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	transition: .56s all cubic-bezier(.28,0,.18,1) .5s;
	z-index: 99;
}

.header__wrapper {
	height: inherit;
	position: relative;
}

.site-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: 100%;
}

.site-nav__list {
	margin-right: 94px;
}

.site-nav__list,
.site-icons {
	display: flex;
}

.site-nav__link {
	color: #000000;
	font-family: var(--oswald);
	font-size: 28px;
	font-weight: 300;
	line-height: 30px;
}

.site-nav__item:not(:last-of-type) {
	margin-right: 30px;
}

/*.site-nav__list + .site-icons {*/
/*	margin-left: 33px;*/
/*}*/
.site-nav__wrapper {
	margin-right: 33px;
}

.site-icons li:not(:last-of-type) {
	margin-right: 20px;
}

.site-icons__link-cart {
	position: relative;
}

.cart-count {
	position: absolute;
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;

	top: -8px;
	right: -9px;

	width: 19px;
	height: 19px;
	background-color: #d60000;
	border-radius: 50%;

	color: #ffffff;
	font-size: 12px;
	line-height: 1;
}


/*промо блок */
.promo {
	width: 100%;
	height: 100vh;
	min-height: 830px;
	margin-bottom: 25px;
}

.promo * {
	width: inherit;
	height: inherit;
	min-height: inherit;
}

.next-arrow,
.prev-arrow {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 174px;
	height: 162px;
	min-height: unset;
	opacity: 0.8;
	background-color: #bec2c7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 83px 81px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: width 0.4s ease-in-out;
	transform-origin: center;
}

.next-arrow {
	right: 0;
	background-image: url("../img/others/right-arrow.svg");
}

.prev-arrow {
	left: 215px;
	background-image: url("../img/others/left-arrow.svg");

	display: none;
/*	optional - по желанию заказчика*/
}

.swiper-slide,
.swiper-slide-active {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(158, 158, 158, 0.8);
}

.next-arrow:hover,
.prev-arrow:hover {
	width: 210px;
}



/*блок Приветствия*/

.hero {
	background-color: #ffffff;
	/*overflow: hidden;*/
}

.hero__wrapper	{
	margin-left: 215px;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 215px);
}

.hero__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 72px;
	font-weight: 300;
	line-height: 60px;

	margin-bottom: 40px;
}

.hero__right-side {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 22px;
	font-weight: 300;
	line-height: 46px;
}

.img-wrapper img:not(:last-child) {
	margin-bottom: 18px;
}


/* Блоки с карточками товаров */

/*.top-products {*/
/*	overflow-x: hidden;*/
/*}*/

.top-products__list {
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.top-products__list li {
	margin-bottom: 20px;
	min-height: 650px;
	min-width: 320px;
	overflow: hidden;
}

.product {
	width: 100%;
	height: 100%;

	position: relative;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;

	transition: all 0.5s ease-in-out;
}


/*общее правило для всех товаров с флагом*/
.product--with-flag .product__flag {
	position: absolute;
	content: '';
	width: 163.57px;
	height: 163.57px;
	z-index: 11;
	top: 0;
	right: 0;
	margin-bottom: 0;
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	filter: drop-shadow(0 0 5px #000);
	background: black;
}

/* общее правило для текста на Флажке*/
.product--with-flag .product__flag::before {
	transform: rotate(45deg) translate(50%, 0px);
	font-size: 30px;
	font-weight: 300;
	width: 100%;
	position: absolute;
	color: #ffffff;
	font-family: var(--oswald);
}

.product--with-flag .product__flag--sale {
	background-color: red;
}

.product--with-flag .product__flag--sale::before{
	content: 'Акция';
	font-size: 31px;
	transform: rotate(45deg) translate(50%, 0);
}

.product--with-flag .product__flag--new {
	background-color: #26C425;
}

.product--with-flag .product__flag--new::before {
	content: 'Новинка';
	transform: rotate(45deg) translate(68px, -20px);
	font-size: 29px;
	width: auto;
}

.product--with-flag .product__flag--popular {
	background-color: #8A618B;
}

.product--with-flag .product__flag--popular::before {
	width: auto;
	content: 'Популярный';
	font-size: 27px;
	top: 50%;
	left: 50%;
	transform: rotate(45deg) translate(-50%, 0%);
	transform-origin: center;
	text-align: left;
}

.product__layer {
	width: 100%;
	opacity: 1;
	position: relative;
	padding: 20px 40px;
	background-color: rgba(230, 226, 226, 0.65);
}

.top-products__list li:nth-of-type(odd) .product__layer {
	padding-left: calc(215px + 40px - 20px);
}

@media (max-width: 1200px) and (min-width: 1060px) {
	.product__layer {
		padding-left: calc(215px + 40px - 20px);
	}
}

.product__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 56px;
	font-weight: 300;
	line-height: 1.4;
	width: 87%;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.product__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 0;
	width: 87%;
	margin-top: 15px;
}

.product__btn {
	position: absolute;
	bottom: 40px;
	right: 40px;
	min-width: 280px;
	display: inline-block;
	padding: 30px 34px 32px;

	color: #ffffff;
	font-family: var(--oswald);
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;

	border: 2px solid #ffffff;
	opacity: 0.8;
	background-color: #312e2b;

	text-align: center;
	text-transform: uppercase;
}



/*Блок с новостями*/
.news {
	background: darkgrey url("../img/content/news-background-opa3.jpg") no-repeat fixed center;
	background-size: cover;

	overflow-x: hidden;
}

.news__wrapper {
	margin-left: 215px;
	padding: 60px 45px 60px 60px;
	width: calc(100% - 215px);
	max-width: 1700px;
}

.news__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;

	max-width: 830px;

	margin-bottom: 30px;
}

.news__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	max-width: 1336px;
	justify-content: space-between;
}

.news__list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-right: 0;
	margin-left: -15px;
	position: relative;
	max-width: 105%;
	width: 105%;
}

.news__item {
	flex:  0 455px;
	min-width: 420px;
	min-height: 628px;
	margin-bottom: 50px;
	max-width: none;
}

.single-news {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

.single-news__content {
	display: flex;
	height: 100%;
}

.single-news__date {
	flex: 1 1 115px;
	background-color: #575757;

	display: flex;
}

.single-news__date-wrapper {
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-direction: column;

	align-self: center;
	margin: auto;

	font-family: var(--oswald);
	font-weight: 300;
}

.single-news__info {
	padding: 24px;
	flex: 1 1 340px;
	display: flex;
	flex-direction: column;

	background-color: #ffffff;
}

.single-news__info h4 {
	color: #000000;
	opacity: 0.8;
	font-family: var(--oswald);
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;

	margin-bottom: 30px;
	/*min-height: 140px;*/
}

.single-news__info p {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	margin: auto 0 20px 0;
}

.single-news__day {
	font-size: 54px;
	line-height: 54px;
}

.single-news__date-wrapper span:not(:last-of-type) {
	margin-bottom: 10px;
}

.single-news__month {
	font-size: 20px;
	letter-spacing: 1.2px;
}

.single-news__year {
	font-size: 18px;
}

.single-news:hover .single-news__wrapper img {
	transform: scale(1.05);
}

.single-news__wrapper {
	overflow: hidden;
	min-height: 239px;
}


.single-news__wrapper img {
	width: 100%;
	max-height: 256px;

	transition: all 0.4s ease-in-out;
}

.news__to-all-news {
	position: absolute;
	z-index: 99;

	top: 330px;
	right: -75px;

	background-color: white;
	opacity: 0.8;
}



/* Футер - disqus и форма*/

/*.footer {*/
/*	overflow: hidden;*/
/*}*/

.footer__wrapper {
	width: calc(100% - 215px);
	margin-left: 215px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	/* max-width: 1700px; */
}

.footer__disqus {
	padding: 0 30px 0 52px;
}

.disqus__tread {
	margin: 100px auto;
}

.footer__form {
	order: 2;
	box-shadow: 0px 20px 19px 5px rgba(0, 0, 0, 0.4);
}

.form__wrapper {
	max-width: 520px;
	width: 100%;
	margin: 90px auto 70px;
}

.form__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 48px;
	font-weight: 100;
	line-height: 60px;
	margin-bottom: 35px;
}

.form__intro {
	color: #585858;
	font-family: var(--montserrat);
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;

	margin-bottom: 35px;
}

.form__item {
	margin-bottom: 20px;
	display: flex;
}

.form__input {
	line-height: inherit;
	font-size: 18px;
	width: 100%;
	padding: 15px 20px;
	color: #575757;
	border: 1px solid #575757;
}

.form__input::placeholder {
	color: #575757;
	opacity: 1;
	text-overflow: ellipsis;
}

.form__textarea {
	min-height: 190px;
}

.form__submit {
	display: flex;
	justify-content: flex-end;
}

.form__button {
	position: relative;
	padding-top: 25px;
	padding-bottom: 26px;
	right: 0;
	bottom: 0;
	cursor: pointer;
	border: 2px solid rgba(185, 182, 182, 0.7);
}

.footer__contacts {
	margin-top: 42px;

	text-align: center;

	color: #000000;
	opacity: 0.7;

	font-family: var(--oswald);
	font-size: 27px;
	font-weight: 300;

	margin-bottom: 30px;
}


/* страница Сет */
.set__wrapper {
	margin-left: 215px;
	padding: 60px 45px 20px 50px;
	max-width: 1700px;
}

.set-hero {
	display: flex;
	max-width: 1700px;
	flex-direction: column;
	background-color: #ffffff;
	margin: 0 auto;
}

.set-popular {
	margin: 0 auto;
	max-width: 1700px;
}

.set-hero__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 24px;
	font-weight: 300;
	line-height: 48px;

	margin-bottom: 30px;
}

.set-hero__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 72px;
	font-weight: 300;
	line-height: 60px;

	margin-bottom: 60px;
}

.set-hero__wrapper {
	padding: 0 25px;
}


/*Cет - лучшие наборы */
.single-set__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 72px;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 30px;
	margin-left: 15px;
}

.single-set__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 24px;
	font-weight: 300;
	line-height: 48px;

	margin-bottom: 20px;
	margin-top: 40px;
}

.set__list {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 25px;
	list-style: none;
}

.single-set__left-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	min-height: 900px;
	max-width: 1200px;
	padding-left: 27px;
	padding-right: 27px;
}

.single-set__slider {
	margin: auto 0 0 0;
	/* overflow: visible; */
	max-width: 100%;
	width: 100%;
}

.set-item {
	margin-bottom: 40px;
}

.single-set__inner {
	display: flex;
	overflow: hidden;
}

.set-slider {
	height: 100%;
	z-index: 1;
	max-width: 100%;
	display: flex;
	/* flex-wrap: wrap; */
}

.single-set__order {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.set-slider__img-wrapper {
	/* max-width: 220px; */
	min-width: 200px;
	width: 100%;
}



/* Правая колонка сета - Материалы*/
.material {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.material__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 30px;
	font-weight: 300;
	line-height: 1.4;

	margin-top: -10px;
	margin-bottom: 24px;
}

.material__hint {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;

	margin-bottom: 28px;
}

.material__colors-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 305px;
	min-width: 280px;
}

.color {
	margin-bottom: 12px;
	max-width: 90px;
}

.color:not(:nth-of-type(2n)) {
	margin-right: 50px;
}

.color figcaption {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 13px;
	font-weight: 300;
	line-height: 1.3;

	text-align: center;
	margin-top: 8px;
}

.color figure {
	margin: 0;
}

.sizes h4 {
	color: #000000;
	font-family: var(--oswald);
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3;
	margin-bottom: 16px;
	margin-top: 30px;
}

.key,
.value {
	display: inline-block;
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}

.sizes li:last-of-type .key,
.sizes li:last-of-type .value {
	margin-bottom: 0;
}

.color:last-of-type,
.color:nth-last-of-type(2) {
	margin-bottom: 0;
}

.key {
	padding-right: 4px;
}

.value b {
	font-weight: 700;
	padding-right: 4px;
}

.btn {
	position: relative;
	right: 0;
	bottom: 0;
	cursor: pointer;
	border: 2px solid rgba(185, 182, 182, 0.7);
	width: 100%;
	max-width: 320px;
	display: inline-block;
	padding: 17px 24px 18px;
	color: #ffffff;
	font-family: var(--oswald);
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	opacity: 0.8;
	background-color: #312e2b;
	text-align: center;
	text-transform: uppercase;
	/*margin-bottom: 40px;*/
}

.sizes__material-info {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}

.single-set__price {
	color: #000000;
	font-family: var(--oswald);
	font-size: 48px;
	font-weight: 300;
	line-height: 48px;
	text-align: center;
	width: 100%;
	max-width: 320px;
	margin-bottom: 20px;
}

.set-slider--prev-arrow,
.set-slider--next-arrow {
	width: 55px;
	height: 50px;
	display: flex;
	opacity: 1;
	z-index: 9999;
	background-size: 60%;
	margin-top: 0;
	top: 50%;
	transform: translateY(-50%);
}

.set-slider--next-arrow {
	right: 0;
}

.set-slider--prev-arrow {
	left: 0;
}

.single-set__right-side {
	padding-left: 35px;
}

.set-slider--prev-arrow:hover,
.set-slider--next-arrow:hover,
.set-slider--prev-arrow:focus,
.set-slider--next-arrow:focus {
	width: 65px;
}

.material__sizes {
	margin-bottom: 30px;
}



/* Корзина */
.cart__wrapper,
.where-to-buy__wrapper {
	margin-left: 215px;
	margin-bottom: 62px;
	padding: 160px 45px 20px 70px;
	max-width: 1700px;
}

.where-to-buy__wrapper {
	max-width: none;
}

.recommended__title {
	max-width: 1700px;
	margin-left: 215px;
	margin-bottom: 62px;
	color: #000000;
	font-family: var(--oswald);
	font-size: 72px;
	font-weight: 300;
	line-height: 1.4;
	padding: 20px 45px 0 70px;
}

.cart__title,
.page--news .news__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 72px;
	font-weight: 300;
	line-height: 1.5;

	margin-bottom: 50px;
}

.page--news .news__title {
	margin-bottom: 30px;
}

.page--news .news__description {
	margin-bottom: 40px;
	width: 100%;
	max-width: 1400px;
	font-size: 22px;
}

.page--news .news__item {
	padding: 0;
	margin-left: 15px;
	margin-right: 15px;
}

.page--news .news__item {
	box-shadow: 0 0 38px rgba(209, 209, 209, 0.56);
}

.page--news .news__to-all-news {
	display: none;
}

.cart__list {
	display: flex;
	flex-direction: column;
}

.cart__item:not(:last-of-type) {
	margin-bottom: 50px;
}

.cart__link {
	width: 100%;
	height: 100%;
	display: flex;
	cursor: initial;
	box-shadow: 0 0 38px rgba(209, 209, 209, 0.56);
}

.cart__info {
	order: 2;
	background-color: #ffffff;
	padding: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart__img-wrapper {
	order: 1;
	width: 527px;
	flex: 1 0 450px;
	/* height: 296px; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cart__control {
	order: 3;
	flex: 1 0 151px;
	width: 132px;
	display: flex;
	min-height: 296px;
	flex-direction: column;
	position: relative;
	background-color: rgb(87, 87, 87);
}

.cart__info figure img {
	width: 57px;
	height: 57px;
}

.cart__info figure {
	display: flex;
	align-items: center;
	margin: 0;
	max-width: 300px;
}

.cart__info figcaption {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	max-width: 135px;
	margin-left: 20px;
}

.cart__info h3 {
	color: #000000;
	font-family: var(--oswald);
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 12px;
}

.cart__info p {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.cart__order {
	margin-top: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart__control button {
	border: none;
	padding: 0;
	background-color: transparent;
}

.cart__control-close {
	position: absolute;
	right: 15px;
	top: 15px;
	height: 30px;
	width: 30px;
	background-color: transparent;
	cursor: pointer;
}

.cart__control-close::after,
.cart__control-close::before {
	background-color: #fff;
	content: "";
	height: 3px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.cart__control-close::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.cart__control-close::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.cart__control-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto auto 15px auto;
	min-height: 165px;
	align-items: center;
	color: #ffffff;
}

.cart__count,
.operator,
.cart__price {
	font-family: var(--oswald);
	font-size: 19px;
	font-weight: 300;
	line-height: 1.5;
}

.cart__currency {
	font-family: var(--oswald);
	font-size: 12px;
	font-weight: 300;
}

.cart__sum {
	font-family: var(--oswald);
	font-size: 24px;
	font-weight: 300;
}

.cart__actions-wrapper button {
	border-radius: 50%;
	width: 48px;
	height: 48px;

	position: relative;
}

.cart__actions-wrapper .cart__increase {
	background-color: #464646;
	margin-right: 13px;
	cursor: pointer;
}

.cart__actions-wrapper .cart__decrease {
	background-color: #797979;
	cursor: pointer;
}

.cart__actions-wrapper {
	display: flex;
}

.cart__cost {
	margin-bottom: 24px;
}

.cart__summary {
	margin-bottom: 37px;
}

.cart__decrease::before,
.cart__decrease::after,
.cart__increase::before {
	position: absolute;
	content: '';
	display: inline-block;

	top: 50%;
	left: 50%;

	width: 14px;
	height: 2px;

	background-color: #ffffff;
}

.cart__decrease::after,
.cart__increase::before {
	transform: translate(-50%, -50%);
}

.cart__decrease::before {
	transform: translate(-50%, -50%) rotate(90deg);
	transform-origin: center;
}

.cart__sum {
	color: #000000;
	font-family: var(--oswald);
	font-size: 36px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}

.cart__ful-sum {
	color: #ffffff;
	font-family: var(--oswald);
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
}

.cart__sum-currency {
	font-size: 26px;
}

.modal-content {
	width: 815px;
	display: block;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.56);
	background-color: #ffffff;
}

.modal__popup-close {
	position: absolute;
	right: 15px;
	top: 15px;
	height: 30px;
	width: 30px;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	border: none;
}

.modal__popup-close::after,
.modal__popup-close::before {
	background-color: #000;
	content: "";
	height: 3px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.modal__popup-close::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.modal__popup-close::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__wrapper {
	max-width: 520px;
	margin: 0 auto;
	padding: 40px 30px;
}

.modal__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 60px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 13px;
}

.form__legend {
	color: #6b6b6b;
	font-family: var(--oswald);
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 12px;
	display: inline-block;
}

.modal__form .form__input {
	opacity: 1;
	color: #000000;
	font-family: var(--oswald);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	border: 2px solid #585858;
}

.modal__form .form__input::placeholder {
	opacity: 1;
	text-overflow: ellipsis;

	color: #6b6b6b;
	font-family: var(--oswald);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}

.modal__description {
	color: #6b6b6b;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
}

.modal__form {
	margin-top: 30px;
}

.form__fieldset {
	width: 100%;
}

.modal__form .form__textarea {
	resize: none;
	min-height: 160px;
}

.form__address .form__input {
	margin-bottom: 20px;
}

.modal--error {
	animation: shake 0.5s ease-in-out;
}

.form__submit-wrapper {
	text-align: center;
}

.form__payment {
	margin-bottom: 40px;
}

.form__select {
	width: 100%;
	padding: 14px 22px 15px 17px;
	font-family: var(--oswald);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	border: 2px solid #585858;
	background-color: transparent;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__select-wrapper {
	position: relative;
}

.form__select-wrapper::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 18px;
	z-index: 2;
	width: 10px;
	height: 20px;
	background-image: url(../img/others/icon-right.svg);
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateY(-50%);
	background-position: center;
}

.dropdowm-menu {
	display: flex;
	flex-direction: column;
}

.dropdowm-menu a {
	font-family: var(--oswald);
	font-size: 30px;
	font-weight: 300;
	line-height: 54px;
	text-align: center;
	color: #ffffff;
}

.site-nav__item--dropDown {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page--news {
	background: #ffffff;
	padding: 160px 45px 20px 70px;
	max-width: 1700px;
	margin-bottom: 0;
}

.site-nav__list a:hover {
	opacity: 0.7;
}

.where-to-buy__frame-wrapper {
	width: 100%;
	margin: 28px 0 0 0;
}

.frame__map-wrapper {
	position: relative;
	padding: 0;
	background-color: #cecece;
	background-image: url("../img/content/map.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 794px;
}

.where-to-buy__iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.frame__address-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	overflow-y: scroll;
	box-shadow: 2px 3px 7px 0px #000000;
	max-height: 794px;
}

.frame__address-list li:not(:last-of-type) {
	margin-bottom: 22px;
}

.place,
.frame__address-list address {
	margin-bottom: 0;

	color: #000000;
	font-family: var(--oswald);
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

.where-to-buy__title {
	color: #000000;
	font-family: var(--oswald);
	font-size: 48px;
	font-weight: 300;
	line-height: 1.5;

	margin-bottom: 28px;
}

.where-to-buy__description {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 52px;
	width: 100%;
	max-width: 1400px;
}

.news__main-content {
	margin: 40px 0;
}

.news__main-content p {
	color: #000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.news__main-content p:not(:last-of-type) {
	margin-bottom: 35px;
}

.news__main-content-imgWrapper {
	float: right;
	background: #cecece;
	border: none;
	padding: 0;
	margin: 5px 0 5px 16px;
	width: 741px;
	height: 403px;
}

.card__img-wrapper {
	min-height: 259px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #cecece;
}

.single-card {
	box-shadow: 7px 6px 7px #cecece;
}

.single-card .single-news__date {
	flex: 0 0 auto;
}

.single-card .single-news__info {
	flex: 0 0 auto;
	padding: 15px 20px;
}

.single-card .single-news__info h4 {
	color: #000000;
	font-family: var(--oswald);
	font-size: 37px;
	font-weight: 300;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 30px;
}

.single-card .single-news__info p {
	color: #000000;
	font-family: var(--montserrat);
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
}




@keyframes shake {
	0%, to {
		transform: translate(-50%,-50%)
	}

	10%,30%,50%,70%,90% {
		transform: translate(-51%,-50%)
	}

	20%,40%,60%,80% {
		transform: translate(-49%,-50%)
	}
}



@media (max-width: 1500px) {
	.single-set__description {
		margin-top: 60px;
		font-size: 21px;
	}

	.set__wrapper {
		padding-left: 30px;
		padding-right: 20px;
	}

	.single-set__right-side {
		margin-top: 50px;
		flex-direction: row;
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 100%;
	}

	.single-set__right-side h4 {
		font-size: 27px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.single-set__inner {
		flex-direction: column;
	}

	.sizes__material-info {
		margin-bottom: 0;
	}

	.single-set__order-link {
		min-width: 260px;
	}

	.material__sizes {
		margin-right: 5%;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
	}

	.material__sizes ul {
		margin-bottom: 30px;
	}

	.set-slider__img-wrapper {
		margin-right: auto;
	}

	.set-slider__img-wrapper {
		max-width: 220px;
	}

	.single-set__slider {
		overflow: hidden;
		margin: 50px auto 0;
	}

	.single-set__left-side {
		min-height: 700px;
	}

	.single-set__left-side,
	.single-set__right-side {
		padding-right: 15px;
		padding-left: 15px;
	}

	.material__colors-list {
		min-width: auto;
	}

	.material-priceInfo__wrapper {
		display: flex;
		justify-content: space-between;
		width: 60%;
		align-items: flex-start;
	}

	.cart__info h3 {
		font-size: 40px;
		line-height: 1.4;
	}

	.cart__link {
		width: 80%;
		flex-wrap: wrap;
		min-width: 710px;
	}

	.cart__order {
		width: 80%;
		min-width: 710px;
	}

	.cart__info {
		order: -1;
		flex: 1 0 100%;
	}

	.single-card .single-news__info {
		 order: -1;
		 flex: 1 0 100%;
		 max-width: none;
		padding-bottom: 40px;
	}

	.single-card {
		flex-direction: row;
		max-width: 800px;
	}

	.single-card .card__img-wrapper {
		 flex: 1 0 70%;
		 max-width: none;
	}

	.single-card .single-news__date {
		 flex: 1 0 30%;
		 max-width: none;
	}

	.news__main-content-imgWrapper {
		width: 100%;
		max-width: 470px;
		height: auto;
	}
}



@media (max-width: 1200px) {
	.footer__wrapper {
		padding-top: 0;
	}

	.frame__address-list {
		box-shadow: none;
		border: 1px solid rgba(0, 0, 0, 0.3);
		margin-top: 1px;
	}

	.news__description {
		font-size: 22px;
	}
}


/*Стилизуем кнопку-Бургер*/
@media (max-width: 1060px) {
	.hero__wrapper,
	.news__wrapper,
	.footer__wrapper,
	.set__wrapper,
	.cart__wrapper,
	.recommended__title,
	.where-to-buy__wrapper {
		width: 100%;
		margin-left: 0;
	}

	.frame__address-list {
		min-height: auto;
	}

	.news__description {
		font-size: 24px;
	}

	.frame__map-wrapper {
		height: 500px;
	}

	.cart__wrapper {
		padding: 80px 30px 20px 30px;
	}

	.promo {
		min-height: 370px;
		margin-top: 60px;
		height: auto;
	}

	.next-arrow,
	.prev-arrow {
		display: none;
	}

	.set-slider--next-arrow,
	.set-slider--prev-arrow {
		display: flex;
	}

	.product,
	.news,
	.hero,
	.footer__form,
	.set-hero,
	.single-set__description,
	.single-set__title,
	.recommended__title {
		zoom: 0.7;
	}

	.single-set__right-side {
		zoom: 0.8;
	}

	.cart__order {
		width: 80%;
		min-width: 710px;
	}

	.product {
		background-size: cover;
	}

	.header {
		height: 60px;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.product__layer {
		padding: 20px 40px 20px 14px;
	}

	.top-products__list li:nth-of-type(odd) .product__layer {
		padding-left: 40px;
	}

	.hero__description {
		margin-bottom: 30px;
	}

	.menu {
		height: 45px;
		width: 45px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.menu:hover {
		cursor: pointer;
	}

	.hambergerIcon {
		height: 5px;
		width: 45px;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50px;
		background-color: #ffffff;
		transform: translate(-50%, -50%) rotate(0deg);
		transition: all ease 0.5s;
	}

	.hambergerIcon::before, .hambergerIcon::after {
		content: "";
		position: absolute;
		height: inherit;
		border-radius: inherit;
		background-color: inherit;
		margin: auto;
		width: 50%;
		transition: all ease 0.5s;
	}

	.hambergerIcon::before {
		top: -13px;
		left: 0;
		transform-origin: left;
	}

	.hambergerIcon::after {
		bottom: -13px;
		right: 0;
		transform-origin: right;
	}

	.open {
		transform: translate(-50%, -50%) rotate(135deg);
	}

	.open::before {
		top: 0;
		transform: translateX(100%) rotate(-90deg);
	}

	.open::after {
		bottom: 0;
		transform: translateX(-100%) rotate(-90deg);
	}


	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-nav {
		width: 100%;
		display: flex;
		position: fixed;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		top: 0;
		height: 100%;

		overflow-y: scroll;
		padding: 70px 30px 0 30px;
		left: 0;
		z-index: 9;
		background-color: rgba(0, 0, 0, 0.6);

		transform: scaleY(0);

		transform-origin: top;
		transition: transform .5s cubic-bezier(.28, 0, .18, 1);
	}

	.site-nav--active {
		transform-origin: top;
		transform: scaleY(1);
		background-color: rgba(0, 0, 0, 0.6);
		flex-direction: column;
	}

	.body--overflow .swiper-button-next {
		display: none;
	}

	.left-header {
		position: relative;
		background-color: transparent;
		box-shadow: none;
		opacity: 1;

		justify-content: flex-start;

		order: 2;
	}

	.left-header__nav {
		margin: 0;
	}

	.left-nav__item {
		margin-right: 0;
	}

	.site-logo {
		width: 100px;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
		opacity: 1;
		margin-left: -10px;
		transition: opacity 0.7s ease-in-out;
	}

	.body--overflow .site-logo {
		opacity: 0;

		position: absolute;

		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;

		border: 0;

		white-space: nowrap;

		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	.left-nav__list {
		color: black;
		margin-top: 14px;
		text-align: center;
	}

	.site-nav__list {
		flex-direction: column;
		margin-right: 0;
		margin-top: 25px;
	}

	.body--overflow {
		overflow: hidden;
		/*background-image: url("../img/content/promo-slider.jpg");*/
	}

	.contacts {
		margin: 30px 0 0 0;
	}

	.contacts__link,
	.left-nav__link,
	.site-nav__link {
		color: #ffffff;
	}

	.site-nav__link {
		font-family: var(--oswald);
		font-size: 30px;
		font-weight: 300;
		line-height: 54px;
		text-align: center;
	}

	.site-icons__link svg {
		fill: #ffffff;
	}

	.site-nav__list {
		align-items: center;
	}

	.site-nav__item {
		margin-right: 0;
		margin-left: 0;
	}

	.site-nav__item:not(:last-of-type) {
		margin-right: 0;
	}

	.left-header__nav {
		align-items: center;
	}

	.site-nav__wrapper {
		margin-right: 0;
	}

	.left-header .site-icons {
		display: none;
	}

	.contacts {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.social__link .fab {
		color: #ffffff;
		font-weight: 700;
	}

	.icons-mobile {
		transform: translateX(-150%);
		transition: 0.4s all ease;
	}

	.site-icons__hidden {
		display: none;
	}

	.body--overflow .icons-mobile {
		display: flex;
		align-items: center;
		width: 100%;
		z-index: 555;
		position: relative;
		transform: translateX(0%);
	}

	.social__link {
		font-size: 20px;
	}

	.body--overflow .header {
		opacity: 0.95;
	}

	.next-arrow--promo {
		width: 120px;
		height: 110px;
		background-size: 50%;
	}

	.single-set__right-side {
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 25px;
	}

	.material__sizes {
		margin-right: 0;
	}

	.material-color__wrapper {
		margin-right: 6%;
	}

	.material-priceInfo__wrapper {
		align-items: flex-start;
	}

	.set__wrapper {
		padding: 60px 20px 0;
	}

	.set__list {
		padding: 0;
	}

	.single-set__left-side {
		min-height: 400px;
	}

	.material-priceInfo__wrapper {
		width: 520px;
	}

	.modal-content {
		width: 100%;
	}

	.modal--buy {
		padding: 0 17px !important;
	}
}


@media (min-width: 1061px) {
	.icons-mobile {
		width: fit-content;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
	}

	.dropdowm-menu {
		display: none;
	}

	.site-nav__item--dropDown:hover .dropdowm-menu {
		display: flex;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.9);
		top: 100px;
		margin-left: -20px;
		min-width: 266px;
		min-height: 200px;
		flex-direction: column;
		padding: 28px 21px 30px;
	}

	.dropdowm-menu::before {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 120px;
		height: 40px;
		content: '';
	}

	.dropdowm-menu a {
		color: #000000;
		font-family: var(--oswald);
		font-size: 24px;
		font-weight: 300;
		line-height: 1.4;
	}

	.dropdowm-menu li:not(:last-of-type) {
		margin-bottom: 14px;
	}
	
	.current-section {
		border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	}
}


@media (max-width: 768px) {
	.set-slider__img-wrapper {
		 max-width: 180px;
		 min-width: auto;
	}

	.material-priceInfo__wrapper {
		flex-direction: column;
		width: auto;
		flex: 1 0 50%;
	}

	.material-color__wrapper {
		flex: 1 0 50%;
	}
	
	.single-set__order {
		margin-top: 28px;
	}

	.cart,
	.modal__wrapper,
	.where-to-buy__header-wrapper,
	.frame__address-list {
		zoom: 0.8;
	}

	.cart__wrapper {
		padding: 120px 45px 0 45px;
	}

	.cart__link {
		width: 100%;
		min-width: auto;
	}

	.cart__order {
		width: 100%;
		min-width: auto;
	}

	.frame__map-wrapper {
		height: 360px;
	}

	.where-to-buy__wrapper {
		padding: 80px 20px 20px 20px;
	}

	.page--news {
		padding: 160px 30px 0 30px;
	}

	.single-card {
		margin-right: 0;
		margin-left: 0;
	}
}



@media (max-width: 570px) {
	.site-nav--active {
		align-items: center;
		padding-right: 15px;
		padding-left: 15px;
	}

	.form__wrapper {
		min-width: 300px;
		margin: 30px auto;
	}

	.site-nav__list {
		margin-left: 0;
		align-items: center;
	}

	.left-nav__list {
		text-align: center;
	}

	.site-nav__link,
	.left-nav__link,
	.dropdowm-menu a {
		font-size: 27px;
	}

	.site-icons {
		margin-top: 8px;
	}

	.cart-count {
		top: -6px;
		right: -7px;
	}

	.top-products__list li {
		height: 480px;
		min-height: 1px;
	}

	.promo {
		min-height: 221px;
	}

	.cart__title,
	.page--news .news__title {
		font-size: 62px;
	}

	.cart__wrapper {
		padding: 120px 32px 0 32px;
	}

	.cart__link {
		width: 100%;
		min-width: auto;

		flex-direction: column;
	}

	.cart__img-wrapper {
		width: 100%;
		max-height: 290px;
	}

	.cart__control {
		width: 100%;
		min-height: auto;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
	}

	.cart__control-wrapper {
		margin: 0;
	}

	.cart__order {
		flex-direction: column;
		margin-top: 72px;
	}

	.cart__sum {
		margin-bottom: 30px;
	}

	.recommended__title {
		zoom: 0.4;
	}

	.product__title {
		font-size: 48px;
	}

	.frame__map-wrapper {
		height: 320px;
		margin-left: -20px;
		margin-right: -20px;
		overflow: hidden;
		max-width: 120%;
		flex: 1 0 100%;
	}

	.news__main-content-imgWrapper {
		max-width: 350px;
	}

	.news .news__wrapper {
		padding: 60px 45px;
	}
}


@media (max-width: 500px) {
	.single-set__right-side {
		flex-direction: column;
		align-items: center;
	}

	.material-color__wrapper {
		flex: 1 0 100%;
		margin-right: 0;
		text-align: center;
	}

	.material__colors-list {
		width: 300px;
		margin-bottom: 30px;
		justify-content: center;
	}

	.material-priceInfo__wrapper {
		align-items: center;
		text-align: center;
	}

	.set-slider__img-wrapper {
		max-width: 140px;
		width: 34%;
		min-width: 120px;
	}

	.single-set__left-side {
		min-height: 1px;
	}

	.single-set__slider {
		overflow: visible;
	}

	.set-slider--prev-arrow {
		background-color: transparent;
		opacity: 1;
		left: -26px;
	}

	.set-slider--next-arrow {
		background-color: transparent;
		opacity: 1;
		right: -26px;
	}

	.modal__wrapper {
		zoom: 0.7;
		padding-top: 70px;
	}

	.form__submit {
		font-size: 17px;
	}

	.modal__title {
		font-size: 44px;
	}

	.news__main-content-imgWrapper {
		max-width: none;
		width: 100%;
		margin: 0 0 25px 0;
	}
}

@media (max-width: 430px) {
	.cart__img-wrapper {
		max-height: 250px;
	}

	.frame__map-wrapper {
		height: 300px;
	}
}





